<!-- INCLUDE header.inc.html -->

<script type="text/javascript">
    $(document).ready(function(){
        $("#help ul li").click(function(){
            var div = $(this).find("div");
            if(div.is(":animated"))
            {
                return false;
            }
            else if(div.is(":hidden"))
            {
                div.slideDown("slow");
            }
            else 
            {
                div.slideUp("slow");
            }
            return false;
        });
        
        $("#help ul li div").click(function(){
            return false;
        });
        
        $("#help ul li div a").click(function(){
            if(this.target) {
                window.open(this.href);    
            }
            else {
                window.location.href = this.href;
            }
            
        });
                
        $(".cplurl").text( window.location.toString().replace('help.php', '') );
    });
</script>

<style type="text/css">
    #help { margin: 10px auto; width: 70%; }
    #help ul { list-style-type: none; }
    #help ul li { color: blue; cursor: pointer; font-weight: bold; padding-bottom: 5px; padding-top: 5px; }
    #help ul li div { color: black; cursor: default; margin: 5px 0 5px 10px; font-weight: normal; display: none; border: dashed 1px #ccc; padding: 0 5px; }
    .cplurl { font-weight: bold; }
</style>

<div id="help">
<h1>{TITLE}</h1>

<ul>
    <li>О чем этот документ
        <div>
            <p>В этом документе предсталвено краткое справочное руководство по управлению сайтом, работающим под управлением системы Triage CMS.</p>
            <p>Система управления представляет собой программный продукт, обеспечивающий трансляцию данные из БД и их представление в удобном пользователю формате, а также набор инструментов для размещения и редактирования этой информации и ее представлений.</p>
        </div>
    </li>
    <li>Начало работы
        <div>
            <p>Для начала работы нужно зайти в панель управления сайтом по адресу <span class="cplurl"></span> и ввести свой логин и пароль (Вы это уже сделали). На основе логина и пароля определяется уровень доступа к функциям системы.</p>
            <p>После успешного входа, Вы попадете на главную страницу панели управления, где Вам показаны последние добавленные страницы и материалы, список доступных для управления плагинов и последние события из журнала системы. Более подробную информацию можно узнать в соответствующих разделах этого документа.</p>
        </div>
    </li>
    <li>Интерфейс и функции системы
        <ul>
            <li>Общее описание интерфейса
                <div>
                    <p>Интерфейс системы состоит из главного меню, горизонтального меню. В главном меню представлены основные операции. Через горизонтальное меню можно получить доступ ко всем функциям системы. Пункты горизонтального меню могут иметь подпункты, в таком случае справа от такого пункта имеется стрелка, указывающая на то, что этот пункт разворачивается. Меню разворачивается при наведении мыши и скрывается по клику.</p>
                    <p>Внутри каждого раздела панели управления может быть свое меню, обычно представляющее из себя вкладки и/или дерево объектов.</p>
                    <p>Для подключаемых модулей (плагинов) не предусмотрено жестких стандартов интерфейса и, хоть они и представляются в общей стилистике панели управления, в конечном итоге их интерфейс остается на усмотрение разработчиков.</p>
                </div> 
            </li>
            <li>Структура сайта
                <div>
                    <p>В этом разделе представлен редактор параметров страницы (слева) и древовидное представление всех страниц на сайте (справа).</p>
                    <p>В редакторе страницы можно изменить все параметры выбранной страницы. Суть большинства из них очевидна, но некоторые требуют пояснения:</p>
                    <p>Вкладка <strong>Параметры страницы</strong> 
                        <dd><strong>Название</strong> - это название используется внутри панели управления и выводится в шаблон в переменную CMS_PAGE_NAME.</dd>
                        <dd><strong>Заголовок</strong> - это название используется заголовка страницы и выводится в шаблон в переменную CMS_PAGE_TITLE.</dd>
                        <dd><strong>Имя файла/папки (ключ)</strong> - этот параметр используется для формирования URL (ссылки) по которому доступна страница, если его оставить пустым, то в URL эта страница будет попадать с цифрой из параметра ID.</dd>
                        <dd><strong>Авто-ключ</strong> - установив этот переключатель, при сохранении страницы ее клич будет создан автоматически на основе ее названия.</dd>
                    </p>       
                    <p>Вкладка <strong>Еще</strong>
                        <dd><strong>Группа доступа</strong> определяет для какой группы пользователей будет доступна эта страница при просмотре сайта.</dd>
                    </p>
                    <p>Вкладка <strong>Материалы</strong> здесь можно добавить любое количество материалов, которые будут отображаться на странице. В зависимости от шаблона, материала делятся на несколько блоков. В каждый блок может быть добавлено нужное количество материалов любого типа и упорядоченно в нужном порядке.</p> 
                    <p>Вкладка <strong>Переменные</strong> здесь можно назначить переменным значение, которое будет действовать только для этой страницы т.е. &quot;перекрыть&quot; значение по-умолчанию другим.</p>
                    <p><strong>Дерево структуры сайты</strong> содержит все страницы. По-умолчанию структура свернута, но раскрыт первый уровень вглубь. страницы, содержащие дочерние страницы, отображаются как папки. Нажав на значок папки модно развернуть или свернуть список дочерних страниц. Если нажать на название страницы, она будет загружена в редактор (по умолчанию в редактор загружается первая или главная страница сайта) и отмечена в дереве. Отключенные страницы отображаются в дереве серым и располагаются на последних местах своего уровня.</p>
                    <p>Для добавления страниц нужно пользоваться меню под деревом структуры. Страница добавляется сразу после нажатия.</p>
                    <p>Удаление страниц не предусмотрено, ненужную страницу всегда можно выключить, а потом использовать при необходимости.</p>
                </div>
            </li>
            <li>Материалы
                <div>
                    <p>Материал - это специальный объект, который может содержать в себе:
                        <dd><strong>текст</strong>, который выводится на страницу &quot;как есть&quot;</dd>
                        <dd><strong>HTML</strong>-код, который можно редактировать в визуальном редакторе</dd>
                        <dd>Стиль <strong>CSS</strong> для изменения представления там, куда будет выведен</dd>
                        <dd><strong>JavaScript</strong> для создания динамических изменений на странице</dd>
                        <dd><strong>Плагин</strong>, который может быть индивидуально настроен для каждого материала</dd>
                    </p>
                    <p>Материал можно использовать на страницах в специальных блоках и/или назначить на переменную в шаблоне или странице.</p>
                    <p>Материал делятся на группы, для упрощения навигации по ним.</p>
                    <p>Для добавления материала следует воспользоваться меню под списком материалов.</p>
                    <p>Отключенные материалы не отображаются на сайте и выводятся в списке серым цветом, ниже остальных.</p>
                    <p>В редакторе материала для каждого материала могут быть загружены файлы, образующие <strong>Библиотеку</strong> материала. Библиотека удобна тем, что дает связь между материалом и файлами, но не лишает возможности использовать файлы из других библиотек и просто размещенных на сервере.</p>
                </div>
            </li>
            <li>Плагины
                <div>
                    <p>Плагины (подключаемые модули) - это средства для автоматизации разных задач сайта. Плагины могут быть использованы в материалах для вывода информации на страницы сайта или обрабатывать события, происходящие в CMS.</p>
                    <p>Также плагины могут иметь интерфейс для управления, доступный в разделе &quot;Все плагины&quot; панели управления сайтом.</p>
                    <p>Помимо интерфейса для управления, у плагина могут быть настройки, которые могут быть изменены как для плагина в целом (настройки по-умолчанию), так и для каждого материала в отдельности.</p>
                    <p>В выпадающем меню и на главной странице панели управления представлены только те плагины, которые имеют интерфейс для управления.</p>       
                </div>
            </li>
            <li>Установка плагинов
                <div>
                    <p>Для добавления новых модулей в систему существует специальная процедура установки плагинов. Для того чтобы установить плагин нужно:</p>
                    <p>Загрузить папку с плагином на сервер в <strong>&lt;корневая папка сайта&gt;/cms/plugins/</strong></p>
                    <p>В меню &quot;Плагины&quot; выбрать <strong>Установить плагин</strong>.</p>
                    <p>В списке напротив нужного плагина нажать кнопку <strong>Установить плагин</strong>.</p>
                    <p>Установленный плагин появится в разделе &quot;Все плагины&quot; в отключенном состоянии, для начала работы с плагином его потребуется сначала включить.</p>
                </div>
            </li>
            <li>Пользователи
                <div>
                    <p>В системе предусмотрены учетные записи для пользователей. Каждый пользователь должен иметь свой уникальный логин и адрес e-mail.</p>
                    <p>Учетные записи могут быть включены и отключены. Отключенные пользователи не могут входить на сайт и в панель управления. Для включение или выключения пользователя нужно перейти в раздел <strong>Пользователи</strong> и нажать на иконку с лампочкой напротив пользователя в графе действия или при редактировании переключить флажок <strong>Пользователь включен</strong>. Также в редакторе пользователя можно сменить логин и пароль.</p>
                    <p>Все пользователи снабжаются <strong>Gravatar</strong>, который строится на основе e-mail адреса пользователя. Подробнее о Gravatar можно узнать <a target="_blank" href="http://www.gravatar.com">здесь</a>.</p>
                    <p>Каждый пользователь сайта может входить в одну или несколько групп доступа или быть <strong>супер-пользователем</strong>. На основе членства в группах регулируется уровень доступа к разделам сайта и панели управления. Супер-пользователи вне зависимости от групп и настроек имеют максимальный доступ ко всему.</p>
                    <p>Задать группы для пользователя можно в редакторе пользователя на вкладке <strong>Группы доступа</strong>. Более подробно о группах смотрите в соответствующем разделе.</p>
                </div>
            </li>
            <li>Группы доступа
                <div>
                    <p>Группы доступа регулируют уровни доступа пользователей к сайту и панели управления. По-умолчанию на сайте имеются следующие группы:
                        <dd><strong>Зарегистрированные пользователи</strong> - эта группа используется для обеспечения возможности входа в панель управления.</dd>
                        <dd><strong>Редакторы</strong> - предназначена для управления и наполнения сайта, редакторы имеют доступ к материалам, страницам и шаблонам.</dd>
                        <dd><strong>Администраторы</strong> - могут изменять настройки системы и плагинов, управлять пользователями и группами, использовать менеджер файлов.</dd>                 
                    </p>
                    <p>Для определения возможностей пользователя его нужно включить или исключить из соответствующей группы.</p>
                    <p>Для добавления новых групп доступа и/или изменения существующих нужно в выпадающем меню <strong>Инструменты</strong> выбрать пункт <strong>Группы доступа</strong> и внести изменения в редакторе.</p>
                    <p>Основные возможности для групп можно изменить в разделе <strong>Настройки</strong> из выпадающего меню <strong>Инструменты</strong>. Там можно назначить следующие параметры: 
                        <dd>Группа доступа к конфигурации плагинов,</dd> 
                        <dd>Группа доступа к настройкам системы, </dd> 
                        <dd>Группа доступа к панели управления сайтом, </dd> 
                        <dd>Группа доступа к редактированию материалов, </dd> 
                        <dd>Группа доступа к редактированию структуры сайта, </dd> 
                        <dd>Группа доступа к редактированию шаблонов, </dd> 
                        <dd>Группа доступа к управлению пользователями и группами,</dd>  
                        <dd>Группа доступа к управлению файлами. </dd> 
                    </p>
                    <p>Более подробно о настройках системы читайте в соответствующем разделе.</p>
                </div>
            </li>
            <li>Настройки
                <div>
                    <p>В этом разделе можно настроить различные параметры работы системы. Описание параметров:</p>
                    <p><strong>Группа доступа к конфигурации плагинов</strong> - определяет пользователей, которые могут устанавливать и настраивать плагины, для управления плагином может быть определена отдельная группа в разделе <strong>плагины</strong>.</p> 
                    <p><strong>Группа доступа к настройкам системы</strong> - определяет пользователей, которые могут изменять основные параметры работы системы.</p> 
                    <p><strong>Группа доступа к панели управления сайтом</strong> - определяет пользователей, которые могут входить в панель управления, членство в этой группе обязательно для всех пользователей, которым необходимо управлять сайтом через панель управления.</p> 
                    <p><strong>Группа доступа к редактированию материалов</strong> - определяет пользователей, которые могут добавлять и изменять материалы сайта.</p> 
                    <p><strong>Группа доступа к редактированию структуры сайта</strong> - определяет пользователей, которые могут менять структуру сайта.</p> 
                    <p><strong>Группа доступа к редактированию шаблонов</strong> - определяет пользователей, которые могут добавлять и изменять шаблоны страниц.</p> 
                    <p><strong>Группа доступа к управлению пользователями и группами</strong> - определяет пользователей, которые могут управлять пользователями сайта и их правами.</p>  
                    <p><strong>Группа доступа к управлению файлами</strong> - определяет пользователей, которые могут пользоваться менеджером файлов и редактировать любые файлы на сайте.</p> 
                    <p><strong>Использовать редактор CodeMirror</strong> - определяет использование редактора для кодов (JavaScript, CSS) в редакторе материалов и файлов. В случае если не используется TinyMCE также используется и для редактирования HTML материалов и в визуальном редакторе страниц.</p>
                    <p><strong>Использовать редактор TinyMCE</strong> - определяет использование визуального редактора для HTML материалов и для визуального редактирования страниц сайта.</p>
                    <p><strong>Название сайта</strong> - задает названия для сайта, которое выводится в шаблон в переменную CMS_SITE_TITLE.</p>
                    <p><strong>Пользователи: использовать Gravatar</strong> - определяет тип gravatar для пользователей. Подробнее о Gravatar можно узнать <a target="_blank" href="http://www.gravatar.com">здесь</a>.</p>
                    <p><strong>Пользователи: размер Gravatar</strong> - определяет размер изображения gravatar, может быть от 1 до 512 пикселей. Подробнее о Gravatar можно узнать <a target="_blank" href="http://www.gravatar.com">здесь</a>.</p>
                    <p><strong>Пользователи: рейтинг Gravatar</strong> - Определяет рейтинг аудитории для показа gravatar. Подробнее о Gravatar можно узнать <a target="_blank" href="http://www.gravatar.com">здесь</a>.</p>
                    <p><strong>Уровень журналирования системы</strong> - определяет какие события будут записываться в журнал.</p>                    
                </div>
            </li>
            <li>Шаблоны
                <div>
                    <p>Шаблоны - это варианты представления страниц сайта, HTML документы, в определенные места которых подставляется содержимое для конкретной страницы. Шаблоны бывают обычные (для страниц сайта) и специальные, для страниц, создаваемых в определенных случаях (например когда требуемая через урл страница не существует).</p>
                    <p>Для просмотра и редактирования шаблонов в меню Инструменты выберите пункт <strong>Шаблоны</strong>. Там можно будет увидеть все имеющиеся шаблоны на сайте, посмотреть/изменить параметры шаблона и связанные с ним страницы.</p>
                    <p>Шаблон может содержать шаблоны представления для различных модулей (плагинов). Все они отображаются при просмотре шаблона и располагаются в папке <strong>cms/templates/&lt;имя шаблона&gt;/plugins/&lt;имя плагина&gt;/&lt;имя файла&gt;</strong>.</p>
                    <p>В разделе <strong>переменные</strong> можно назначить значения по-умолчанию для имеющихся в шаблоне переменных, которые потом могут быть перекрыты на страницах.</p>
                    <p>В разделе <strong>файлы</strong> можно увидеть и отредактировать файлы шаблона и файлы содержащихся в нем модулей.</p>
                    <p>В файле шаблона (не плагина) описаны системные переменные, пользовательские переменные и размечены блоки материалов. <strong>Системные переменные</strong> заполняются автоматически и не доступны пользователю. Системные переменные начинаются с &quot;CMS_&quot;. Список системных переменных:</p>                
                    <dd><strong>CMS_SITE_TITLE</strong> - название сайта</dd>
                    <dd><strong>CMS_REDIRECT</strong> - адрес переадресации, если существует</dd>
                    <dd><strong>CMS_KEYWORDS</strong> - ключевые слова страницы</dd>
                    <dd><strong>CMS_DESCRIPTION</strong> - описание страницы</dd>
                    <dd><strong>CMS_PAGE_NAME</strong> - название страницы</dd>
                    <dd><strong>CMS_PAGE_TITLE</strong> - заголовок страницы</dd>
                    <dd><strong>CMS_HTTP_BASE</strong> - базовый урл сайта со слешем '/' на конце</dd>
                    <dd><strong>CMS_CSS_FILE</strong> - урл стилевого листа по-умолчанию (&lt;базовый урл&gt;/cms/templates/default.css)</dd>
                    <dd><strong>CMS_TEMPLATE_PATH</strong> - путь к дополнительным файлам шаблона (&lt;базовый урл&gt;/cms/templates/&lt;имя шаблона&gt;/)</dd>
                    <dd><strong>CMS_GENERATOR</strong> - название и версия CMS</dd>
                    <dd>* в файлах все переменные пишутся в фигурных скобках { }.</dd>
                    <p><strong>Пользовательские переменные</strong> не могут начинаться с &quot;CMS_&quot;. В файлах все переменные пишутся в фигурных скобках { }</p>
                    <p><strong>Блоки материалов</strong> размечаются как:</p>
                    <pre>
                    &lt;!-- BEGIN materials1 --&gt;
                    &#0123;MATERIAL1&#0125;
                    &lt;!-- END materials1 --&gt;
                    </pre>         
                    <p>Здесь цифра 1 - это номер блока материалов, в одном шаблоне не может быть более одного блока с одинаковым номером. При отображении страницы в &#0123;MATERIAL1&#0125; будут выведены все материалы, установленные в этом блоке (т.е. блок будет повторен с разным содержимым, и также будет повторен и любой код вокруг &#0123;MATERIAL1&#0125; между BEGIN и END).</p>       
                    <p>В файлах шаблонов модулей используется переменные и блоки, применимые только к этому модулю.</p>
                </div>
            </li>
            <li>Файлы и Редактор файлов
                <div>
                    <p>Менеджер файлов, расположенный в меню &quot;Инструменты&quot;, позволяет управлять файлами и папками на сайте. В управлении файлами можно перемещаться по папкам, создавать и удалять их. Также можно загружать, скачивать и редактировать имеющиеся файлы.</p>
                    <p>В списке файлов специальными значками отображаются основные типы файлов. При редактировании редактор файлов подсвечивает синтаксис для некоторых типов файлов, если включена настройка использования редактора CodeMiror в разделе настройки.</p> 
                </div>
            </li>
            <li>Журнал системы
                <div>
                    <p>В журнале системы сохраняются события, происходящие с системой, а также события создаваемые плагинами.</p>
                    <p>В зависимости от настроек могут сохраняться все события, только системные или вообще не сохраняться.</p>
                    <p>При просмотре журнала можно отфильтровать представление по диапазоны дат, списку пользователей или объекту события. Для этого нужно нажать на соответствующий заголовок и выбрать нужные значения.</p>
                </div>
            </li>
            <li>Отладчик
                <div>
                    <p>Нажатие на пункт &quot;Отладчик&quot; в меню Инструменты включает/выключает специальный режим отладки, при котором на страницу выводятся диагностические сообщения системы и сообщения PHP (если произведена соответствующая настройка сервера).</p>
                    <p>По этим сообщениям разработчик или администратор может понять причину возникшей проблемы и принять меры для ее устранения.</p>
                </div>
            </li>
        </ul>
    </li>
    <!-- li>Типичные задачи
        <ul>
            <li>Создание и редактирование страниц
                <div>Donec nec nunc sed purus laoreet aliquam gravida sit amet lorem. Proin accumsan augue nec nisl vehicula venenatis. Morbi varius erat non augue luctus ultrices gravida nunc fringilla. Donec tempor, mi ac tincidunt faucibus, purus nisi tristique tortor, eu dapibus nisi nibh a tortor. Sed imperdiet nisl quis tortor sagittis in rutrum risus imperdiet. Ut ac augue leo, sit amet luctus est. Praesent ornare quam id tellus elementum posuere. Donec a enim vel lacus aliquam feugiat vel vel tellus. Morbi at imperdiet mauris. Sed at augue lacus. Morbi vitae velit et velit mollis adipiscing euismod id justo.</div>
            </li>
            <li>Работа с материалами
                <div>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas vitae felis erat. Pellentesque iaculis laoreet magna vitae dignissim. Mauris dignissim fringilla convallis. Mauris laoreet velit vitae risus porttitor viverra. Nam ligula mauris, iaculis sit amet euismod in, ullamcorper id quam. Suspendisse potenti. Praesent lobortis lectus ac sapien condimentum et facilisis nisl ultricies. Nam eget mauris sem, sed dignissim nibh. Cras mauris magna, tempus sed sollicitudin sed, porttitor at est. In hac habitasse platea dictumst. Mauris rutrum tincidunt lorem imperdiet ultrices. Duis sodales interdum sem sodales tincidunt. Aliquam aliquet, arcu eget adipiscing molestie, ligula elit vulputate odio, a semper nisi purus volutpat tellus. Integer at lorem urna, ac porttitor ligula. Nullam vestibulum odio eu massa laoreet eu cursus quam feugiat.</div>
            </li>
            <li>Управление файлами</li>
            <li>Работа с плагинами
                <div>Etiam quis dolor erat, non pulvinar massa. Nunc in ante et sapien bibendum fermentum ut eget ante. Pellentesque vel orci quis ipsum egestas dapibus sed ut nibh. Etiam quam massa, pharetra aliquet pharetra in, molestie at ipsum. Aliquam nisl ante, ornare semper commodo ut, pretium quis massa. Suspendisse ac magna augue. Integer viverra dignissim orci et tincidunt. Vivamus eget arcu vitae mi auctor gravida. Cras orci quam, ornare et viverra sit amet, faucibus sit amet metus. Nunc sed urna magna.</div>
            </li>
            <li>Управление пользователями</li>
            <li>Изменение настроек системы</li>
            <li>Работа с шаблонами и стилями</li>
        </ul>
    </li -->
    <li>О системе Triage CMS и разработчиках
        <div style="display: block;">
            <p>Triage CMS версия 6</p>
            <p>Автор и разработчик: Alex&reg; the Rebel&trade; <small>aka</small> Rebel <small>aka</small> Aleksandr.ru</p>
            <p><a href="http://www.aleksandr.ru" target="_blank">http://www.aleksandr.ru</a></p>
        </div>
    </li>
    <li>Благодарности
        <div>
            <p>Выражаются благодарности:</p>
            <p>- Группе компаний 2КОМ</p>
            <p>- Разработчикам класса HTML_Template_IT</p>
            <p>- Разработчикам плагина jquery.tabby</p>
            <p>- Разработчикам редактора CodeMirror</p>
            <p>- Разработчикам редактора TinyMCE</p>
            <p>- Автору иконок Silk Icons</p>
            <p>- Автору иконок Fugue Icons</p>
            <p>- Разработчикам Gravatar</p>
        </div>
    </li>
</ul>

</div>

<!-- INCLUDE footer.inc.html -->