<div class="cms_viseditor_material" material_id="{MATERIAL_ID}" material_type="{MATERIAL_TYPE}" block_name="{BLOCK_NAME}" variable_name="{VARIABLE_NAME}" order="{NUM}">
    <div class="cms_viseditor_material_toolbar">
        <input type="button" class="cms_viseditor_btnedit" title="Редактировать">
        <input type="button" class="cms_viseditor_btndel" title="Убрать" {VAR_DIS}>
        <!-- input type="button" class="cms_viseditor_btnup" title="Выше" {VAR_DIS}>
        <input type="button" class="cms_viseditor_btndown" title="Ниже" {VAR_DIS} -->
        <input type="button" class="cms_viseditor_btnsave" title="Сохранить">
    </div>
    <div class="cms_viseditor_material_data cms_viseditor_material_{MATERIAL_TYPE}">{MATERIAL_DATA}</div>
    <div class="cms_viseditor_material_editor">
        <textarea></textarea>
    </div>
</div>